.container {
	padding-top: 50px;
}

#price-table {
	margin-top: 50px;
}


#productImage {
	height: 150px;
	width: 150px;
	margin-bottom: 20px;
}

#copyTo {
	margin-top: 20px;
}

#copyTo > button {
	margin-top: 10px;
}